body {
    margin: 0px;
    color: rgb(104, 126, 255);
    background-color:rgb(34, 24, 33);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100dvh;
}
.abody {
    display: flex;
    flex-direction: column;
}

.boddy {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}
/* #boddy {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#boddy::-webkit-scrollbar {
    display: none;
}  */

/*Navigation*/
.navig {
    background: linear-gradient( 90deg, #28464B, #2C8C99, #42D9C8);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 70px;
    padding: 10px;
    align-content: center;
    z-index: 10;
    box-shadow: black -1px 1px 3px;
}
.lnk1{
    border: #931621 solid 5px;
    justify-content: center;
    align-content: center;
    margin: 0px 30px;
    box-shadow: white -1px 1px;
}
.lnk2 {
    text-decoration: none;
    color: #931621;
    font-size: 25px;
    padding: 10px;
    font-weight: bolder;
    text-shadow: white -1px 1px;
}
.lnk3{
    right: 30px;
    justify-content: space-around;
    align-content: center;
}
.lnk {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px;
}
.lnk:hover {
    color:#931621;
    background-color: black;
}
.lnk:target{
    color:#931621;
    background-color: black;
}


/*main*/
.mainP {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    color: #42D9C8;
    width: 100%;
    justify-content: space-around;
    padding: 110px 0px 100px 0px;
}
.main_left {
    justify-self: center;
    padding: 10px 20px;
    max-width: 600px;
}
.name {
    color: white;
    font-size: 85px;
    font-weight: bold;
    text-shadow: #931621 -2px 2px;
}
.main_right {
    display: flex;
    flex-wrap: wrap;
    border-radius: 100%;
    border: #931621 5px solid;
    box-shadow: white -2px 2px;
    justify-content: center;
    align-content:center;
    width: 450px;
    height: 450px;
}
.img1 {
    width: 350px;
    height: 350px;
    background-color: #931621;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: white -2px 2px;
}
h1 {
    text-align: left;
    font-size: 50px;
    text-shadow: #28464B -2px 2px;
}
.p1 {
    font-size: 17px;
    text-align: left;
    text-shadow: #28464B -2px 2px;
}

/*Personal Information*/
.persInfo {
    background: linear-gradient( 90deg, #28464B, #2C8C99, #42D9C8);
    display: flex;
    flex-direction: row-reverse;
    color: white;
    width: 100%;
    justify-content: space-around;
    padding: 110px 0px 100px 0px;
}
.persText {
    justify-self: center;
    padding: 10px 20px;
    max-width: 600px;
}
.persImg {
    display: flex;
    flex-wrap: wrap;
    border: #931621 5px solid;
    box-shadow: white -2px 2px;
    justify-content: center;
    align-content:center;
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    position: relative; /* or absolute/fixed */
    z-index: 1;
}
.imgPers {
    width: 300px;
    height: 300px;
    background-color: #931621;
    position: relative; /* or absolute/fixed */
    z-index: 5;
    object-fit: cover;
    box-shadow: white -2px 2px;
    overflow: hidden;
}
.imgPers2 {
    width: 350px;
    height: 350px;
    transform: rotate(-45deg);
    position: relative; /* or absolute/fixed */
    z-index: 1;
    object-fit: cover;
}



/* Work Experience */
#work_exp {
    background: linear-gradient(rgb(162, 229, 249), rgb(181, 162, 249));
    background-color: rgb(162, 208, 249);
    border-radius: 30px;
    border: 3px solid rgb(34, 24, 33);
    height: 100dvh;
    width: 100dvw;
    color: rgb(34, 24, 33);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}
#container {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px 0px;
    justify-content: center;
    width: auto;
    height: 300px;
    overflow: auto;
    scrollbar-color: rgb(207, 77, 250);
}
.xp {
    width: 300px;
    height: auto;
    background: linear-gradient(45deg, rgba(77, 112, 250, 0.503), rgba(207, 77, 250, 0.503));
    background-color: rgba(207, 77, 250, 0.503);
    padding: 20px;
    border-radius: 20px;
}
li {
    font-size: 13px;
}
.b2 {
    position: relative;
    right: 10px;
}
.h33 {
    font-size: 18px;
    margin: 0px;
}
.h44 {
    font-size: 13px;
    margin: 0px;
    font-style: oblique;
}


/* Technical Skills */
.img2 {
    width: 30px;
    height: auto;
}
.techSkills {
    background: linear-gradient(rgb(162, 229, 249), rgb(181, 162, 249));
    background-color: rgb(162, 208, 249);
    border-radius: 30px;
    border: 3px solid rgb(34, 24, 33);
    height: 100dvh;
    max-width: 100dvw;
    color: rgb(34, 24, 33);
    align-self: center;

}
.techS {
    display: grid;
    grid-template-areas:
    "t1 t2 t3 t4"
    "t5 t6 t7 t8";
}
.t1 {
    grid-area: t1;
    padding: 10px;
}
.t2 {
    grid-area: t2;
    padding: 10px;
}
.t3 {
    grid-area: t3;
    padding: 10px;
}
.t4 {
    grid-area: t4;
    padding: 10px;
}
.t5 {
    grid-area: t5;
    padding: 10px;
}
.t6 {
    grid-area: t6;
    padding: 10px;
}
.t7 {
    grid-area: t7;
    padding: 10px;
}
.t8 {
    grid-area: t8;
    padding: 10px;
}
.h332 {
    font-size: 18px;
    margin: 0px;
}


/* Leadership */
.leadCS {
    background: linear-gradient(rgb(162, 229, 249), rgb(181, 162, 249));
    background-color: rgb(162, 208, 249);
    border-radius: 30px;
    border: 3px solid rgb(34, 24, 33);
    height: 100dvh;
    width: 100dvw;
    color: rgb(34, 24, 33);
    padding: 30px;
}
.ldd {
    margin: 0px;
    text-align: center;
    font-size: 27;
    margin-top: 10px;
}
.butt2 {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
.butt2:hover {
    background-color: aliceblue;
    color: black;
}
